<div class="col-sm-4 col-xs-12">
  <%= link_to potepan_product_path(product.id), class:"productBox" do %>
    <div class="productImage clearfix">
      <% if product.gallery.images.present? %>
        <%= image_tag(product.gallery.images.first.attachment(:product), alt: "#{product.name}_image") %>
      <% else %>
        <%= image_tag('noimage/product.png', alt: "No image available") %>
      <% end %>
    </div>
    <div class="productCaption clearfix">
      <h5><%= product.name %></h5>
      <h3><%= product.display_price %></h3>
    </div>
  <% end %>
</div>
