<ul class="dropdown-menu row">
  <li class="col-sm-3 col-xs-12">
    <ul class="list-unstyled">
      <li>Products Grid View</li>
      <li class="active"><a href="product_grid_left_sidebar.html">Products Sidebar Left</a></li>
      <li><a href="product-grid-right-sidebar.html">Products Sidebar Right</a></li>
      <li><a href="product-grid-3-col-filter.html">Products 3 Columns V1</a></li>
      <li><a href="product-grid-3-col.html">Products 3 Columns V2</a></li>
      <li><a href="product-grid-4-col.html">Products 4 Columns</a></li>
    </ul>
  </li>
  <li class="col-sm-3 col-xs-12">
    <ul class="list-unstyled">
      <li>Products List View</li>
      <li><a href="product_list_left_sidebar.html">Products Sidebar Left</a></li>
      <li><a href="product-list-right-sidebar.html">Products Sidebar Right</a></li>
      <li class="listHeading">Others</li>
      <li><a href="single_product.html">Single Product</a></li>
      <li><a href="cart_page.html">Cart Page</a></li>
    </ul>
  </li>
  <li class="col-sm-3 col-xs-12">
    <ul class="list-unstyled">
      <li>Checkout</li>
      <li><a href="checkout_step_1.html">Step 1 - Address</a></li>
      <li><a href="checkout_step_2.html">Step 2 - Shipping</a></li>
      <li><a href="checkout_step_3.html">Step 3 - Payment</a></li>
      <li><a href="checkout_step_4.html">Step 4 - Payment</a></li>
      <li><a href="checkout_complete.html">Order Complete</a></li>
    </ul>
  </li>
  <li class="col-sm-3 col-xs-12">
    <%= link_to image_tag("img/menu-photo.jpg", alt: "menu-img"), "#", {class: "menu-photo"} %>
  </li>
</ul>
